* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}
body {
  font-size: 100%;
  background: url(../Assets/pexels-chuck-johnson-6369344.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
}
.cabecalho-image {
  width: 72px;
}
.cabecalho-pre {
  width: 25px;
  display: inline-block;
  margin-left: 10px;
  gap: 5px;
  align-items: center;
}
.cabecalho-menu {
  display: flex;
  gap: 32px;
}
.cabecalho-menu-item {
  font-family: inherit;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.container {
  /* border-top: 0.4px solid gray; */
  display: flex;
  padding-top: 60px;
  flex-direction: column;
}

h1 {
  display: block;
  color: rgb(242, 244, 251);
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  width: 400px;
  max-width: 100%;
  margin-left: 250px;
  padding-top: 20px;
  font-family: "Rubik", sans-serif;
}
h2 {
  width: 360px;
  margin-top: 28px;
  max-width: 100%;
  margin-left: 250px;
}
.listContainer {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  list-style: none;
  font-size: 18px;
}
.button1 {
  border: none;
  background-color: rgb(0, 118, 255);
  color: rgb(242, 244, 251);
  margin-left: 250px;
  width: 200px;
  height: 50px;
  border-radius: 15px;
}
.button2 {
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgb(242, 244, 251);
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-weight: bold;
}
h3 {
  margin-left: 250px;
}
.image-main {
  margin-left: 250px;
  margin-top: 25px;
}
header {
}
li {
  list-style: none;
}
li:not(:last-child) {
  margin-bottom: 15px;
}
li::before {
  content: "\2794";
  color: white;
  margin-right: 12px;
}
footer {
  padding-top: 50px;
}
